html,
body,
#root {
  height: 100%;
}

.pf-v6-c-content {
  --pf-v6-c-content--small--Color: var(--pf-t--global--color--status--danger--default); /* changes all <small> color to the semantic token for danger */
  --pf-v6-c-content--blockquote--BorderLeftColor: var(--pf-t--global--color--nonstatus--purple--default); /* changes all <blockquote> left border color to the semantic token for non-status (purple) */
  --pf-v6-c-content--hr--BackgroundColor: var(--pf-t--global--color--nonstatus--yellow--default); /* changes a <hr> color to the semantic token for non-status (yellow) */
}

/* Low fidelity mode styling */
body.fidelity-low {
  /* Grayscale filter */
  filter: grayscale(100%);
}

/* Override all font-family declarations in PatternFly components */
body.fidelity-low,
body.fidelity-low * {
  /* Apply Comic Sans font family to all elements */
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}